.container {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 5px;
}
.text {
  margin: 0;
}
.text:first-child {
  margin-bottom: 10px;
}
.button {
  cursor: pointer;
  height: 100%;
  width: 60px;
  margin-left: auto;
  margin-right: 5px;
  border: 1px solid darkslategrey;
  border-radius: 4px;
  background-color: #fff;
}
.button:hover {
  color: #fff;
  background-color: #161515;
  border: 1px solid #161515;
}

.modal {
  position: absolute;
  top: 50%;
  right: 79%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(173, 202, 206); */
  border: 1px solid darkslategrey;
  padding: 5px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.title {
  font-weight: 400;
  color: darkslategrey;
  font-size: 26px;
  margin-bottom: 5px;
  margin-top: 0;
}
.edit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.edit input {
  margin-left: 5px;
}
