.form {
  display: flex;
  flex-direction: column;
  border: 2px solid darkslategrey;
  border-radius: 4px;

  width: 270px;
  align-items: center;
  padding: 10px;
}
.field {
  position: relative;
  margin-bottom: 25px;
}

.input {
  margin-top: 10px;
  font-size: 18px;
  width: 250px;
  height: 100%;
  padding: 5px;
}
.input:focus {
  border: 2px solid darkslategrey;
}
.error {
  color: brown;
  position: absolute;
  top: 100%;
  left: 0;
}
.button {
  margin-top: 10px;
  cursor: pointer;
  width: 120px;
  border: 1px solid darkslategrey;
  border-radius: 4px;
  background-color: #fff;
}
.button:hover {
  color: #fff;
  background-color: #161515;
  border: 1px solid #161515;
}
