.list {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}
.item {
  border: 2px solid darkslategrey;
  border-radius: 4px;

  list-style: none;
  box-sizing: border-box;
  width: 260px;
  height: 100%;
  padding: 4px;
}
